@{
    ViewData["Title"] = "Inicio";
}


<div class="w3-display-container">
    <img src="~/lib/img/busflotilla.png" atl="Bus1" />
    <div class="text-center w3-large w3-display-middle w3-white w3-text-light-blue w3-padding w3-container">
        <h1 class="display-4 w3-text-black ">Gestion Rutas</h1>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Inicio Sesion</button>
    </div>

</div>