@model FrondEnd_ProyectoPA.Models.Usuarios

@{
    ViewData["Title"] = "CrearUsuario";
}

<h1>CrearUsuario</h1>

<h4>Usuarios</h4>




<hr />




<div>
    <a asp-action="Index" asp-controller="UsuariosFE">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
