@model FrondEnd_ProyectoPA.Models.Usuarios

@{
    ViewData["Title"] = "CrearUsuario";
}

<h1>CrearUsuario</h1>

<h4>Usuarios</h4>




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guardar" asp-controller="UsuariosFE" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoUsuario" class="control-label"></label>
                <input asp-for="ApellidoUsuario" class="form-control" />
                <span asp-validation-for="ApellidoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentificacionUsuario" class="control-label"></label>
                <input asp-for="IdentificacionUsuario" class="form-control" />
                <span asp-validation-for="IdentificacionUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLogueo" class="control-label"></label>
                <input asp-for="IdLogueo" class="form-control" />
                <span asp-validation-for="IdLogueo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDireccionPais" class="control-label"></label>
                <input asp-for="IdDireccionPais" class="form-control" />
                <span asp-validation-for="IdDireccionPais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDireccionProvincia" class="control-label"></label>
                <input asp-for="IdDireccionProvincia" class="form-control" />
                <span asp-validation-for="IdDireccionProvincia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccionotrassenasusuario" class="control-label"></label>
                <input asp-for="Direccionotrassenasusuario" class="form-control" />
                <span asp-validation-for="Direccionotrassenasusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoUsuario" class="control-label"></label>
                <input asp-for="CorreoUsuario" class="form-control" />
                <span asp-validation-for="CorreoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoUsuario" class="control-label"></label>
                <input asp-for="TelefonoUsuario" class="form-control" />
                <span asp-validation-for="TelefonoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstadoUsuario" /> @Html.DisplayNameFor(model => model.EstadoUsuario)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="UsuariosFE">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
