@model IEnumerable<FrondEnd_ProyectoPA.Models.Usuarios>

@{
    ViewData["Title"] = "IndexAsync";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h1>Mantenimiento de Usuarios</h1>



