@model FrondEnd_ProyectoPA.Models.Ruta

@{
    ViewData["Title"] = "Modificar Ruta - ";
}
<div class="w3-container w3-blue  w3-text-black">

    <h4>Mantenimiento Ruta</h4>
    <hr />
    <h1>Modificar Ruta</h1>
</div>
<div class="w3-container w3-light-grey w3-text-black">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ModificarRuta">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id_Ruta" class="control-label"></label>
                    <input asp-for="Id_Ruta" class="form-control" />
                    <span asp-validation-for="Id_Ruta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MontoEstimado" class="control-label"></label>
                    <input asp-for="MontoEstimado" class="form-control" />
                    <span asp-validation-for="MontoEstimado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MontoRecibido" class="control-label"></label>
                    <input asp-for="MontoRecibido" class="form-control" />
                    <span asp-validation-for="MontoRecibido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Modificar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="w3-center w3-container">
        <a class="w3-button w3-green btn btn-secondary" asp-action="Index">Regresar</a>
    </div>

</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
