

@model FrondEnd_ProyectoPA.Models.Reservaciones

@using Microsoft.AspNetCore

@{
    ViewData["Title"] = "Index";

}

<h1>Reservar</h1>

<h4>Reservaciones</h4>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Login</title>
</head>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GuardarReserva" asp-controller="Reservaciones" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdReservaciones" class="control-label"></label>
                <input asp-for="IdReservaciones" class="form-control" />
                <span asp-validation-for="IdReservaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoReservacion" class="control-label">Codigo Reservación</label>
                @Html.TextBoxFor(item => item.CodigoReservacion, new { CodigoReservacion = "codigo" })

                @{

                    var codigo = new Random();
                    codigo.Next();
                }
                <span asp-validation-for="CodigoReservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadAdultos" class="control-label">Cantidad de adultos</label>
                <input asp-for="CantidadAdultos" class="form-control" />
                <span asp-validation-for="CantidadAdultos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidadninos" class="control-label">Cantidad de niños</label>
                <input asp-for="Cantidadninos" class="form-control" />
                <span asp-validation-for="Cantidadninos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label">Id Usuario</label>
                <input asp-for="IdUsuario" class="form-control" />
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClientes" class="control-label">Identificación cliente</label>
                <input asp-for="IdClientes" class="form-control" />
                <span asp-validation-for="IdClientes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdHabitacion" class="control-label">Id Habitación</label>
                <input name="habita" asp-for="IdHabitacion" class="form-control" />
                <span asp-validation-for="IdHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechaestadiainicial" class="control-label">Fecha Inicial de alojamiento</label>
                <input asp-for="Fechaestadiainicial" class="form-control" />
                <span asp-validation-for="Fechaestadiainicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechaestadiafinal" class="control-label">Fecha Final de alojamiento</label>
                <input asp-for="Fechaestadiafinal" class="form-control" />
                <span asp-validation-for="Fechaestadiafinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorEstadia" class="control-label">Valor Estadia</label>
                <input asp-for="ValorEstadia" class="form-control" value="precio"/>
                @{
                    var precio = 10;
            }
                <span asp-validation-for="ValorEstadia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Reservación" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ConsultaReserva" asp-controller="Reservaciones">Consultar Reservas</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

