
@{
    ViewData["Title"] = "AccesoDenegado";
}
<div class="text-center w3-large w3-display-middle w3-white w3-text-light-blue w3-padding w3-container">
    <h1>Acceso Denegado por favor contacte administrador</h1>
</div>
