@model Usuarios;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Inicion Sesion</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Autenticacion" asp-action="Index">Gestion Rutas</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Autenticacion" asp-action="Index">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Autenticacion" asp-action="Index">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <hr />
    <div class="container text-center w3-large w3-display-middle w3-white w3-padding w3-container">
        <div class="row mt-5">
            <div class="col-sm-4 offset-sm-4">
                <form asp-action="IniciarSesion" asp-controller="Autenticacion" method="post">
                    <div>
                        <div>
                            <div class="mb-3">
                                <label for="txtIdLogueo" background-color="white" class="form-label w3-continer">Usuario Login</label>
                                <input type="text" class="form-control" id="txtIdLogueo" asp-for="NombreUsuario" placeholder="Ejemplo@email.com">
                            </div>
                            <div class="mb-3">
                                <label for="txtContrasena" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="txtContrasena" asp-for="Contrasena" placeholder="Digite Clave Segura">
                            </div>
                            <button type="submit" class="btn btn-primary">Inicio Sesion</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
