@model FrondEnd_ProyectoPA.Models.Habitaciones

@{
    ViewData["Title"] = "CrearHabitacion";
}



<h1>CrearHabitacion</h1>

<h4>Habitaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GuardarHabitacion" asp-controller="Habitacion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdHabitaciones" class="control-label">Id Habitación</label>
                <input asp-for="IdHabitaciones" class="form-control" />
                <span asp-validation-for="IdHabitaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoHabitacion" class="control-label">Tipo</label>
                <input asp-for="TipoHabitacion" class="form-control" />
                <span asp-validation-for="TipoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreHabitacion" class="control-label">Nombre de Habitación</label>
                <input asp-for="NombreHabitacion" class="form-control" />
                <span asp-validation-for="NombreHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CapacidadHabitacion" class="control-label">Capacidad de Habitación</label>
                <input asp-for="CapacidadHabitacion" class="form-control" />
                <span asp-validation-for="CapacidadHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precionochepersona" class="control-label">Precio</label>
                <input asp-for="Precionochepersona" class="form-control" />
                <span asp-validation-for="Precionochepersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numerohabitacion" class="control-label">Número de Habitación</label>
                <input asp-for="Numerohabitacion" class="form-control" />
                <span asp-validation-for="Numerohabitacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estadohabitacion" /> @Html.DisplayNameFor(model => model.Estadohabitacion)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Habitacion" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

